h1{
    background-color:#000;
    color: #fff;
    text-align: right;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMeDB5NZkrxOdQIPhBoxnxhJvuxyfQTRxmDg&s );
    background-repeat: no-repeat;
    background-size: cover;
}

